@media (min-width: 1024px) and (max-width: 1279px){
    .custom-arr-desk{
        top: 30px;
        left: full;
       transform: rotate('20deg');
    }

    .custom-gs{
        height: 30vh;
        padding: 20px;
    }
}

@media (min-width: 1280px) and (max-width: 1400px) and ( min-height:600px) and (max-height:650px){
    .custom-gs{
        height: 40vh;
        padding: 20px;
    }

    .custom-btn-desk{
        transform: scale(0.9) translateX(250px) translateY(50px);
    }

    .custom-arr-desk{
        top: 45px;
        left: full;
       
    }
}



@media (min-width: 768px) and (max-width: 1024px){
    .custom-gs{
        height: 25vh !important;
    }
}


@media (min-width: 640px) and (max-width: 730px){
    .custom-btn-desk{
        transform: scale(0.6) translateX(-50px);
    }

    .custom-gs{
        height: 20vh;
        padding: 20px;
    }
}
