@media (min-width: 1280px) and (max-width: 1324px){
    .custom-hero{
        padding: 25px 0px;
    }
}


/* Media query for tablets */
@media (min-width: 600px) and (max-width: 1024px) and (min-height: 750px) and (max-height: 1366px) {
    .custom-hero{
        padding: 80px 0px 110px 0px;
    }
}

@media (min-width:1024px) and (max-width:1200px) and (min-height:1200) and (max-height:1400px){
    .custom-hero{
        height: 50vh !important;
    }
}

@media (min-width:910px) and (max-width:914px) and (min-height:1360) and (max-height:1370px){
    .custom-hero{
        height: 20vh !important;
    }
} 
